@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,100&family=Ubuntu&display=swap');
body{
    background-image: url(/img/CU.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(80%);
    opacity: 0.9; 
    /* font-size: 14px; */
}
.container{
    margin: 50px auto;
    width: 80%;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: rgb(73, 73, 200);
    color: white;
}
.h1{
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.container p{
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

button{
    background:#1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}

.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}
